[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# https://github.com/RasaHQ/rasa/issues/7124#issuecomment-822225557
regex = "==2020.9.27"
sanic = "<19.12.3"
scikit-learn ="<0.24.0"
rasa = {extras = ["spacy"], version = "==2.5.0"}
rasa-sdk = "==2.5.0"
#

[dev-packages]

[requires]
python_version = "3.8"
