[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.rasa.com/simple"
verify_ssl = true
name = "rasa"

[packages]
# packages that the action server depends on should go here
# TODO oleksandr: what if I also need to customize Rasa Core, thought ?
aiohttp = "*"

[dev-packages]
# https://github.com/RasaHQ/rasa/issues/7124#issuecomment-822225557
regex = "~=2020.9.27"
sanic = "<19.12.3"
scikit-learn = "<0.24.0"
#rasa = { extras = ["spacy"], version = "~=2.5.0" }
rasa = "~=2.5.0"
rasa-sdk = "~=2.5.0"
#
rasa-x = "*"
jupyterlab = "*"
jupyterlab-kite = ">=2.0.2"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"
