[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.rasa.com/simple"
verify_ssl = true
name = "rasa"

[packages]
# packages that the action server depends on should go here
# TODO oleksandr: what if I also need to customize Rasa Core, thought ?
aiohttp = "*"
boto3 = "*"
transitions = "*"
pytelegrambotapi = ">=3.7.3,<4.0.0"

[dev-packages]
rasa = "2.7.1"
rasa-sdk = "2.7.0"
rasa-x = "0.41.1"
jupyterlab = "*"
jupyterlab-kite = ">=2.0.2"
pytest = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
pytest-cov = "*"
pytest-env = "*"
aioresponses = "*"
ipython = "*"
ipdb = "*"
moto = "*"

[requires]
python_version = "3.8"
